@require 'variables.styl'
@import 'reset.styl'

html {
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color $color1
  background-color: $color4
}
