$color1  = #05386B
$color2 = #379683
$color3    = #5CDB95
$color4    = #8EE4AF
$color5    = #EDF5E1

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$headerNavbarHeight = 54px
$colorLoader = $color3